<br>
<div class="col"></div>
<div class="col" id="chat">
    <h5>Chatee</h5>
    <form id="chat">
        <div class="mb-3">
            <label for="Email" class="form-label">Name</label>
            <input type="email" class="form-control" name="author" id="author" />
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Message</label>
            <input type="text" class="form-control" name="text" id="text" />
        </div>
        <div class="mb-3" id = "messages">
        </div>
        
        <button type="submit" class="btn btn-success">Enviar</button>
    </form>
</div>
<div class="col"></div>



