<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); %>
</head>
<header><%- include('../partials/header'); %></header>

<body>
    <div class="container mt-3">
        <div class="jumbotron">
            <h1>Login de Usuario</h1>
            <br>
            <form action="/auth/local" method="post" autocomplete="off">
                <div class="form-group">
                    <label for="email">Ingrese su email</label>
                    <input id="email" class="form-control" type="text" name="email" required>
                    <label for="clave">Ingrese su clave</label>
                    <input id="clave" class="form-control" type="text" name="clave" required>
                </div>
                <button class="btn btn-success mt-3">Login</button>
            </form>
        </div>
    </div>
</body>

</html>